<div class="container">
  <h2>
    User Settings
  </h2>
  <form ngNativeValidate>
  <div class="form-group">
    <label for="name"Name></label>
    <input  id="name" name="name" class="form-control" placeholder="Name"
     [(ngModel)]="userSettings.name" required #propertyTest="ngModel" >
  </div>
  <h3>dirty: {{propertyTest.dirty}}</h3>
  <h3>pristine: {{propertyTest.pristine}}</h3>
  <h3>touched: {{propertyTest.touched}}</h3>
  <h3>untouched: {{propertyTest.untouched}}</h3>
  <h3>valid: {{propertyTest.valid}}</h3>
  <h3>invalid: {{propertyTest.invalid}}</h3>
  <div class="form-check form-group">
    <input type="checkbox" class="form-check-inout" id="emailoffers" name="emailoffers" [(ngModel)]="userSettings.emailoffers" >  
    <label class="form-check-lable" for="emailoffers">
      Email Special Offers
    </label>
  </div>
  <p>
    User interface Style
  </p>
<div class="form-group">
  <div class="form-check">
    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="light" checked [(ngModel)]="userSettings.interfaceStyle">
    <label class="form-check-label" for="exampleRadios1">
      Light 
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="medium" checked [(ngModel)]="userSettings.interfaceStyle">
    <label class="form-check-label" for="exampleRadios2">
      Medium 
    </label>
  </div>
  <div class="form-check disabled">
    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="dark"checked [(ngModel)]="userSettings.interfaceStyle">
    <label class="form-check-label" for="exampleRadios3">
      Dark 
    </label>
  </div>
</div>
<div class="form-group">
  <label for="exampleFormControlSelect1" >SubScription Type</label>
  <select class="form-control" id="exampleFormControlSelect1" name="selectPlane" [(ngModel)]="userSettings.subscriptionType">
    <option>Monthly</option>
    <option>Annual</option>
    <option>Life time</option>
  </select>
</div>
<div class="form-group">
  <label for="exampleFormControlTextarea1">Notes</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" name="awais" rows="3" [(ngModel)]="userSettings.notes"></textarea>
</div>
<!-- <div class="form-group">
  <label for="exampleInputPassword1">Password</label>
  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
</div>
<div class="form-group">
  <label for="testing">Testing</label>
  <input type="date" id="testing"class="form-control" name="testing">
</div> -->




  <button class="btn btn-primary">Send</button>
  </form>
</div>
{{userSettings | json}}